[General]
starting_balance = 500
username = /u/FRIENDLY_DEALER
version = 1.0
password = {PASSWORD}
plain_username = {USERNAME}
client_id = {CLIENT_ID}
client_secret = {CLIENT_SECRET}

[Poker]
bet_limit = 50000
thread_id = 6o4zgt

[Roulette]
bet_limit = 100000
thread_id = 6k6vbj

[DiceRoll]
bet_limit = 150000
payout_factor = 4
thread_id = 6kiwhu

[CasinoWar]
small_bet = 1000000
mid_bet = 20000000
big_bet = 100000000
thread_id = 6m5yhm

[Keno]
bet_limit = 100000
thread_id = 6mk17b

[Mongo]
username = {MONGO_USER}
password = {MONGO_PASS}

